.idea
.DS_Store
./src/
demos/.ipynb_checkpoints
demos/src/.ipynb_checkpoints
data/.ipynb_checkpoints

demos/runs/
demos2020/runs/
demos2021/runs/
venv/

styles/.ipynb_checkpoints

*.xml
_scratch/
scratch.py
__pycache__/

runs/
demos2022/BNSeg/src/__pycache__
events.out*

